<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUMI HAIRS - Hairstyles</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container-fluid header-container">
          
        </div>
        
            <h1>HUMI HAIRS</h1>
            <nav>
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/add_review">Reviews</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
            </nav>
    
    </header>

    <section class="hairstyles">
        <div class="container">
            <h2>Our Hairstyles</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://i.pinimg.com/564x/7a/83/de/7a83de75b21afa5153d34c70d9deb4bf.jpg" alt="Hairstyle 1" class="img-fluid">
                        <h3>Box braids</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://i.pinimg.com/564x/90/ab/d7/90abd791c25971faf27b55d04e750dae.jpg" alt="Hairstyle 2" class="img-fluid">
                        <h3>Curly braids</h3>
                        <p>Effortlessly chic beachy waves that give you a relaxed and carefree look.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipMMVOR7F6Wr3jZKV_IHMCihDZhKirr7G8t9NygV=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>Knotless braids</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipPaOs8s3xWyf2QY2_QZv1xV10GY4Oioujd9CwaS=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>Straight back braids</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipOhLYbMS2jEpE_pvETkbOJyO0xj5nkfKiAoNthL=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>pattern braids</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipNssUO4FU6rlLDZPZ_gkfSy3K7f1WMslBRn4HD5=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>Straight up braids</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipMPsobbKyCp7izXGBjZBhCc0n7dZIvXH8afYhOz=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>Curly straight back braids</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipMJA7BBs7rU2cMplv-VWgfgaxb0D-ALTaik_A6s=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>curly ponytail</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipNHSGPCEEeXcUCcFxlFpOtmiSYMPL1YLxncr4r3=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>Pattern knotless braids</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipM29EgABOIoBbPgDMAbaV7uHnHsTuZTnz0mabMW=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>Hair installation</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipPCDeJKYhTiWhcqU5m7XkQOyQ8fGEWDoKD15iF9=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>Perm</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipP_3EPCro44I4O0WWAfCIs2xSlOiM3MaSTF8XW_=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>Straight up braids</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipPj5bjuqHxCa2_vlOIniCX9-1Y2-AFIZx8WIHyi=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>Straight back knotless braids </h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hairstyle-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipOerJDiOkPz0PWh9qbmwGbBQlx9_QqQz8tuDPcT=w600-h988-p-k-no" alt="Hairstyle 1" class="img-fluid">
                        <h3>Extra long straight back</h3>
                        <p>A timeless hairstyle that never goes out of style. Suitable for various occasions.</p>
                    </div>
                </div>
                <!-- Add more hairstyle items as needed -->
            </div>
        </div>
    </section>

    <footer class="text-center bg-dark text-white py-4">
        <div class="container">
            <nav>
                <ul class="nav justify-content-center mb-3">
                    <li class="nav-item"><a class="nav-link text-white" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/login">Admin</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/addReviewForm">Reviews</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/contact">Contact</a></li>
                </ul>
            </nav>
            <p>&copy; 2024 Humi Hair. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
