<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUMI HAIRS - Manicures</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container-fluid header-container">
          
        </div>
        
            <h1>HUMI HAIRS</h1>
            <nav>
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/addReviewForm">Reviews</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
            </nav>
    
    </header>

    <section class="manicures">
        <div class="container">
            <h2>Our Manicures</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://i.pinimg.com/564x/d8/27/76/d827769c9adfd6c6824d5c12383c6190.jpg" alt="Manicure 1" class="img-fluid">
                        <h3>French Manicure</h3>
                        <p>A classic and elegant manicure style with a natural look.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://media.glamour.com/photos/651af67141c322dc5af6321a/1:1/w_960,c_limit/Untitled%20design%20(3).png" alt="Manicure 2" class="img-fluid">
                        <h3>Gel Manicure</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://i.pinimg.com/564x/bc/31/38/bc3138e9462e532de78e006504defd8a.jpg" alt="Manicure 2" class="img-fluid">
                        <h3>Pedicure</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://i.pinimg.com/564x/dc/e7/91/dce791d005f1a4b1d964b3b872426429.jpg" alt="Manicure 2" class="img-fluid">
                        <h3>Pedicure</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipNVyt_GdhQbF7ksDDK2adGItFtnnSDoi88CvkJj=w600-h563-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>Squareval</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipOPGzTq7UQFfxGPr3LT1mLdCXrjoHUi_uv8V3t5=w600-h563-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>Squareval</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipPfTbjEtgIFFUTutEa1Zd-Z9HHK3RiHgGhHnqqM=w600-h420-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>Almond</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipOq0fhWvyNbhphPJd5hfMUO2g5E2Fa18EG7_tAN=w600-h854-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>Squareval Manicure</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipOKIZtzQ9-DD4hhXnyW6o_yDYtZLSG3vX-C8qUS=w600-h854-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>Squareval Manicure</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipOjXQBVWLFCuuOijDD3GAccEJGYUVIJy7Eq067w=w600-h420-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>Squareval Manicure</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipOxAJp-ePrIulYTsmT4YSBuMGt4MeT8ez_gRpWG=w600-h854-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>Stiletto</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipNCza9IJ8RbdObG9hAb2ZwX4SH6Mba12_wBLF_X=w600-h854-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>Stiletto</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipM3zgW8B0960c8aOepqmJX6Bv2MnDcjcq4_xp7N=w600-h854-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>French Manicure</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipNyRMIVkJkT44HvoYBcphA1iQbO-3ykP_vJjk-o=w600-h854-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>French Manicure</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipN6sWXPa69umbVOO0kfdU5D38RzKn7wj037HgML=w600-h854-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>Squareval Manicure</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipNigOXL7S7nrp99mFW12nPWUalX9zA5OaUPmB_1=w600-h854-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>Stiletto Manicure</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="manicure-item">
                        <img src="https://lh5.googleusercontent.com/p/AF1QipNniEkfVcAPGBxpjSKekRCn57Qq600hfqK9Z145=w600-h854-p-k-no" alt="Manicure 2" class="img-fluid">
                        <h3>Squareval Manicure</h3>
                        <p>Long-lasting and glossy manicure with gel polish for a flawless finish.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer class="text-center bg-dark text-white py-4">
        <div class="container">
            <nav>
                <ul class="nav justify-content-center mb-3">
                    <li class="nav-item"><a class="nav-link text-white" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/login">Admin</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/addReviewForm">Reviews</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/contact">Contact</a></li>
                </ul>
            </nav>
            <p>&copy; 2024 Humi Hair. All rights reserved.</p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
