<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Outcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 10px;
        }

        .admin-table {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            animation: fade-in 0.5s ease-in-out;
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Appointments List And Reviews/h1>
        <table class="table table-striped admin-table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.firstName} + ' ' + ${customer.secondName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.date}"></td>
                    <td th:text="${customer.time}"></td>
                    <td th:text="${customer.message}"></td>
                </tr>
            </tbody>
        </table>

        <h1>Reviews</h1>
        <table class="table table-striped admin-table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Comment</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="review : ${reviews}">
                    <td th:text="${review.id}"></td>
                    <td th:text="${review.name}"></td>
                    <td th:text="${review.email}"></td>
                    <td th:text="${review.comment}"></td>
                    <td th:text="${review.rating}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>